# Domain untuk Cloudflare Tunnel (isi jika pakai tunnel)
CLOUDFLARE_DOMAIN=

# Password untuk TTYD (default: admin / moch1234)
TTYD_USER=admin
TTYD_PASS=moch1234

# Password FileBrowser (default: admin / moch1234)
FILEBROWSER_USER=admin
FILEBROWSER_PASS=moch1234

# Password motionEye (default: admin / moch1234)
MOTIONEYE_USER=admin
MOTIONEYE_PASS=moch1234

# ZRAM size (default: 512M)
ZRAM_SIZE=512M

# SWAP file size dalam MB (default: 2048 = 2GB)
SWAP_SIZE=2048

# TZ (timezone)
TZ=Asia/Jakarta
