# Domain untuk Cloudflare Tunnel (isi jika pakai tunnel)
CLOUDFLARE_DOMAIN=

# Password untuk TTYD (default: admin / admin12345678)

TTYD_PASS=admin12345678

# Password FileBrowser (default: admin / admin12345678)

FILEBROWSER_PASS=admin12345678

# Password motionEye (default: admin / admin12345678)

MOTIONEYE_PASS=admin12345678

# ZRAM size (default: 512M)
ZRAM_SIZE=512M
# SWAP file size dalam MB (default: 1024 = 1GB)

SWAP_SIZE=1024

# TZ (timezone)
TZ=Asia/Jakarta
